<div id="content_top" class="content">
  <% if (score) { %>
    <h3>新着スコア一覧</h3>
    <table border="1">
      <tr>
        <th align="left">date</th>
        <th align="left">user</th>
        <th align="left">file</th>
        <th align="left">message</th>
        <th align="left">size(Byte)</th>
      </tr>
      <% score.forEach(function(val){ %>
      <tr>
        <td><%= val.date %></td>
        <td>@<%= val.screen_name %></td>
        <td><a href="/score/<%= val.savename %>" target="_blank"><%= val.filename %></a></td>
        <td><%= val.text %></td>
        <td><%= val.size %></td>
      <tr>
      <% }) %>
    </table>
  <% } %>
  <hr>
  <h3>スコアのアップロード</h3>
  <form method="POST" action="/upload" enctype="multipart/form-data">
    <p><input type="file" name="upload_file" required></p>
    <p><input type="text" name="upload_text"></p>
    <p><input type="submit" value="send"></p>
  </form>
  <font size="1">
  <p><font color="red">[TODO]</font> Chromeだとpdf限定にできたが、firefoxだとどんなファイルでもアップロードできてしまう。ブラウザのversion依存かな。あとで直す。というか、どのファイル形式を許可しようか。</p>
  <p><font color="red">[TODO]</font> ファイルを選ばなくても送信できてしまう気がする。テキストのみは送信できないようにする。</p>
  <p>注）テスト用なので、定期的にファイル消します。あんまり大きいファイルはやめてね(;_;)</p>
  </font>
</div>
